@import "syntax-variables";

atom-text-editor, atom-text-editor {
  background-color: @syntax-background-color;
  color: @blue;
  .syntax--text.syntax--html {
    &.syntax--html {
      color: @syntax-text-color;
    }
  }

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;

    .line-number {
      &.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
      }

      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: lighten(@almost-white, 20%);
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }
}

atom-text-editor .search-results .marker .region,
:host .search-results .marker .region {
  background-color: transparent;
  border: 1px solid @syntax-result-marker-color;
}

atom-text-editor .search-results .marker.current-result .region,
:host .search-results .marker.current-result .region {
  border: 1px solid @syntax-result-marker-color-selected;
}

.syntax--comment {
  color: lighten(@almost-white, 30%);
}

.syntax--entity {
  &.syntax--name.syntax--type {
    color: @pink;
  }

  &.syntax--other.syntax--inherited-class {
    color: @pink;
  }

  // Jade
  &.syntax--jade {
    &.syntax--name.syntax--tag{
      color: @blue;
    }
  }
}

.syntax--keyword {
  color: @blue;

  &.syntax--control {
    color: @blue;
  }

  &.syntax--operator {
    color: @syntax-text-color;
  }

  &.syntax--other.syntax--special-method {
    color: @blue;
  }

  &.syntax--other.syntax--unit {
    color: @pink;
  }

  // PHP
  &.syntax--php {
    &.syntax--control {
      color: @syntax-text-color;
    }
  }

  // Python
  &.syntax--python {
    &.syntax--control {
      color: @syntax-text-color;
    }
  }
}

.syntax--storage {
  color: @syntax-text-color;

  // JavaScript
  &.syntax--js {
    &.syntax--function {
      color: @blue;
    }
  }
}

.syntax--constant {
  color: @blue;

  &.syntax--character.syntax--escape {
    color: @pink;
  }

  &.syntax--numeric {
    color: @pink;
  }

  &.syntax--other.syntax--color {
    color: @blue;
  }

  &.syntax--other.syntax--symbol {
    color: @pink;
  }
}

.syntax--variable {
  color: @blue;

  &.syntax--interpolation {
    color: @pink;
  }

  &.syntax--parameter.syntax--function {
    color: @syntax-text-color;
  }

  // PHP
  &.syntax--php {
    &.syntax--variable {
      color: @pink;
    }
  }

  // Ruby
  &.syntax--ruby {
    &.syntax--variable {
      color: @syntax-text-color;
    }
  }
}

.syntax--invalid.syntax--illegal {
  background-color: @pink;
  color: @syntax-background-color;
}

.syntax--string {
  color: @pink;


  &.syntax--regexp {
    color: @pink;

    .syntax--source.syntax--ruby.syntax--embedded {
      color: @pink;
    }
  }

  &.syntax--other.syntax--link {
    color: @pink;
  }
}

.syntax--punctuation {
  &.syntax--definition {
    &.syntax--comment {
      color: lighten(@almost-white, 30%);
    }

    &.syntax--string,
    &.syntax--variable,
    &.syntax--parameters,
    &.syntax--array {
      color: @syntax-text-color;
    }

    &.syntax--heading,
    &.syntax--identity {
      color: @blue;
    }

    &.syntax--bold {
      color: @pink;
      font-weight: bold;
    }

    &.syntax--italic {
      color: @pink;
      font-style: italic;
    }

    // JSON
    &.syntax--json {
      color: @syntax-text-color;
    }
  }

  &.syntax--section.syntax--embedded {
    color: @pink;
  }

  // JavaScript
  &.syntax--js {
    &.syntax--definition.syntax--parameters {
      color: @blue;
    }
  }
}

.syntax--support {
  &.syntax--class {
    color: @pink;
  }

  &.syntax--constant {
    color: @pink;
  }

  &.syntax--function  {
    color: @blue;

    &.syntax--any-method {
      color: @blue;
    }
  }
}

.syntax--entity {
  &.syntax--name.syntax--function {
    color: @blue;
  }

  &.syntax--name.syntax--class, &.syntax--name.syntax--type.syntax--class {
    color: @blue;
  }

  &.syntax--name.syntax--section {
    color: @blue;
  }

  &.syntax--name.syntax--tag {
    color: @pink;
    text-decoration: underline;
  }

  &.syntax--other.syntax--attribute-name {
    color: @pink;

    &.syntax--id {
      color: @blue;
    }
  }

  // CSS
  &.syntax--css, &.syntax--sass, &.syntax--scss {
    &.syntax--name {
      text-decoration: none;
    }
  }

  // HTML
  &.syntax--html {
    &.syntax--tag {
      text-decoration: none;
      color: @blue;
    }
  }

  // Jade
  &.syntax--jade {
    &.syntax--tag {
      text-decoration: none;
    }

    &.syntax--attribute-name {
      color: @syntax-text-color;
    }
  }
}

.syntax--meta {
  &.syntax--class {
    color: @blue;
  }

  &.syntax--link {
    color: @blue;
  }

  &.syntax--require {
    color: @blue;
  }

  &.syntax--selector {
    color: @blue;
  }

  &.syntax--separator {
    background-color: lighten(@almost-white, 60%);
    color: @syntax-text-color;
  }

  // JavaScript
  &.syntax--js {
    &.syntax--delimiter.syntax--method {
      color: @syntax-text-color;
    }
  }
}

.syntax--none {
  color: @syntax-text-color;
}

.syntax--markup {
  &.syntax--bold {
    color: @blue;
    font-weight: bold;
  }

  &.syntax--changed {
    color: @pink;
  }

  &.syntax--deleted {
    color: @pink;
  }

  &.syntax--italic {
    color: @blue;
    font-style: italic;
  }

  &.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading {
    color: @blue;
  }

  &.syntax--inserted {
    color: @pink;
  }

  &.syntax--list {
    color: @pink;
  }

  &.syntax--quote {
    color: @pink;
  }

  &.syntax--raw.syntax--inline {
    color: @pink;
  }
}

.syntax--source.syntax--gfm .syntax--markup {
  -webkit-font-smoothing: auto;
  &.syntax--heading {
    color: @pink;
  }
}

atom-text-editor[mini] .scroll-view,
atom-text-editor[mini] .scroll-view {
  padding-left: 1px;
}
