@import "syntax-variables";

atom-text-editor,
atom-text-editor {
  background-color: @syntax-background;
  color           : @syntax-text;

  .wrap-guide {
    background-color: @syntax-ident-guide;
  }

  .indent-guide {
    color: @syntax-ident-guide;
  }

  .invisible-character {
    color: @syntax-ident-guide;
  }

  .gutter {
    background-color: @syntax-background;
    color           : @syntax-background;

    .line-number {
      &.cursor-line {
        background-color: @syntax-background;
        color           : @syntax-ident-guide;
      }

      &.cursor-line-no-selection {
        color: lighten(@syntax-ident-guide,20%);
      }
    }
  }

  .fold-marker:after,
  .gutter .line-number.folded,
  .gutter .line-number:after {
    color: desaturate(darken(@syntax-text,20%),40%);
  }

  .invisible {
    color: @syntax-text;
  }

  .cursor {
    color: @syntax-cursor;
  }

  .selection .region {
    background-color: @syntax-selection;
  }
}

.syntax--comment {
  color: @syntax-comment;
}

.syntax--keyword {
  color: @syntax-keyword;

  &.syntax--control {
    color: @syntax-method;
  }

  &.syntax--operator {
    color: @syntax-operator;
  }

  &.syntax--other.syntax--special-method {
    color: @syntax-keyword;
  }

  &.syntax--other.syntax--unit {
    color: @syntax-operator;
  }
}

.syntax--storage {
  color: @syntax-storage;
}

.syntax--constant {
  color: @syntax-constant;

  &.syntax--character.syntax--escape {
    color: @syntax-operator;
  }

  &.syntax--numeric {
    color: @syntax-operator;
  }

  &.syntax--other.syntax--color {
    color: @syntax-text;
  }

  &.syntax--other.syntax--symbol {
    color: @syntax-operator;
  }
}

.syntax--variable {
  color: @syntax-variable;

  &.syntax--interpolation {
    color: @syntax-operator;
  }

  &.syntax--parameter.syntax--function {
    color: @syntax-text;
  }
}

.syntax--invalid.syntax--illegal {
  background-color: @syntax-operator;
  color           : @syntax-background;
}

.syntax--string {
  color: @syntax-string;

  &.syntax--regexp {
    color: @syntax-comment;
  }

  &.syntax--other.syntax--link {
    color: @syntax-constant;
  }
}

.syntax--punctuation {
  &.syntax--definition {
    &.syntax--comment {
      color: @syntax-text;
    }
  }
}

.syntax--support {
  &.syntax--class {
    color: @pink;
  }

  &.syntax--constant {
    color: @syntax-constant;
  }

  &.syntax--function {
    color: @syntax-method;

    &.syntax--any-method {
      color: @syntax-variable;
    }
  }
}

.syntax--none {
  color: @syntax-cursor;
}

atom-text-editor[mini] .scroll-view,
atom-text-editor[mini] .scroll-view {
  padding-left: 1px;
}