// These colors are specific to the theme. Do not use in a package!
@white      : #ffffff;
@black      : #000000;
@purple     : #ff00ff;
@blue       : #0000ff;
@blue-light : #8080ff;
@cyan-blue  : #00aaff;
@cyan       : #00ffff;
@green      : #00ff00;
@green-light: #80ff80;
@pink       : #ffaaaa;
@red        : #ff0000;
@red-light  : #f08080;
@orange     : #ff8000;
@yellow     : #ffff00;