@import "colors"; // This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.
// General colors
@syntax-background : lighten(@black,12%);
@syntax-text       : @white;
@syntax-cursor     : fade(desaturate(@white,80%),40%);
@syntax-selection  : fade(darken(@white,50%),85%);
@syntax-type       : desaturate(darken(@white,10%),80%);
@syntax-constant   : desaturate(lighten(@purple,10%),55%);
@syntax-keyword    : desaturate(lighten(@orange,15%),25%);
@syntax-operator   : desaturate(lighten(@red,40%),15%);
@syntax-storage    : desaturate(lighten(@green,20%),15%);
@syntax-string     : desaturate(darken(@green,15%),15%);
@syntax-comment    : fade(@yellow,90%);
@syntax-method     : desaturate(@blue-light,20%);
@syntax-variable   : desaturate(lighten(@blue,15%),15%);
@syntax-ident-guide: fade(@white,20%);